@{
    ViewData["Title"] = "ReturnConfirmation";
}

<h2>Return Confirmation</h2>

<div class="alert alert-success" role="alert">
    The book has been successfully returned.
</div>

<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
</p>
