@model RoxLibrary.Models.Borrow

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Borrow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BorrowId" />
            <div class="form-group">
                <label asp-for="BorrowDate" class="control-label"></label>
                <input asp-for="BorrowDate" class="form-control" />
                <span asp-validation-for="BorrowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowReturnDate" class="control-label"></label>
                <input asp-for="BorrowReturnDate" class="form-control" />
                <span asp-validation-for="BorrowReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowStatus" class="control-label"></label>
                <select asp-for="BorrowStatus" asp-items="Html.GetEnumSelectList<BookStatus>()" class="form-control"></select>
                <span asp-validation-for="BorrowStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkCustomerId" class="control-label"></label>
                <select asp-for="FkCustomerId" class="form-control" asp-items="ViewBag.FkCustomerId"></select>
                <span asp-validation-for="FkCustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkBookId" class="control-label"></label>
                <select asp-for="FkBookId" class="form-control" asp-items="ViewBag.FkBookId"></select>
                <span asp-validation-for="FkBookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
